#header{
    text-align: center;
    padding-top: 50px;
}

#mission{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: groove 2px black;
}

#clothingPic{
    height: 400px;
    border-radius: 20px;
    border: solid black 1px;
}

#picSec1{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    gap: 20px;
}

#picSec2{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    gap: 20px;
}

#picSecPara1{
    font-size: 20px;
}

#dolphinPic{
    height: 400px;
    border-radius: 20px;
    border: solid black 1px;
}

#picSecPara2{
    font-size: 20px;
}