#navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 10px 0px;
    position: sticky;
    top: 0;
    background-color: white;
}

#home{
    display: flex;
    gap: 5px;
}

a{
    color: black;
    text-decoration: none;
}